<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singup</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Singup Form</h1>
    <form action="/user" method="post">
        <label for="">Enter Your Fullname</label>
        <input type="text" required name="name" placeholder="Enter here"> <br>

        <label for="">Enter Email</label>
        <input type="email" required name="email" placeholder="Enter here"> <br>
        <label for="">Enter Password</label>
        <input type="password" required name="password" placeholder="Enter here"> <br>

        <button type="submit">Singup</button>
    </form>
</body>

</html>